.navbar1 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.9))), url(imagenes/technology-nvidia-gtx-video-card-wallpaper-preview.jpg);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.9) 100%), url(imagenes/technology-nvidia-gtx-video-card-wallpaper-preview.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position-y: center;
    color: #ffffff;
  }
  
  .navbar1 .bienvenida {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  main {
    overflow-y: hidden;
  }
  
  main .mision {
    margin-top: 2%;
    
  }
  
  main .mision .mision-titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  main .mision .mision-texto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  
.sponsors{
   display:flex;
   margin-left: 18%;
size: 50px;
  

}
  .logitech{
    width: 20%;
    display: flex;
   column-width: 50%;
}
.nvidia{
    width: 20%;
    display: flex;
    
            flex-direction:row;
   
    
}
.corsair{
    width: 20%;
   
}
.hyperx{
    width: 20%;
    display: flex;
    
}
.box{
    display: grid;
    padding: 20%;
}
h1{
    text-align: center;
   
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: #0f7100;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #0f7100;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .organizacion {
      display: inline-flex;
      padding-left: 25%;
  
    }
    .organizacion2 {
        display: inline-flex;
        padding-left: 18%;
    
      }
     header nav{
         background-color: black;
     }
     nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px 36px;
        text-decoration: none;
      }
      
      li a:hover:not(.active) {
        background-color: #111;
      }
      
      .active {
        background-color: #0f7100;
      }
      footer{
        width: 100%;
        padding: 50px 0px;
        background-image: url(imagenes/thumb-1920-428576.gif);
        background-size: cover;
        
        /*background-color: #d0f0f8;
        -webkit-mask-image: url("../Images/background-footer.svg");
        mask-image: url("../Images/background-footer.svg");
        -webkit-mask-size: cover;
        mask-size: cover;*/
    }
    
    .container__footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;
    }
    
    .box__footer{
        display: flex;
        flex-direction: column;
        padding: 40px;
    }
    
    .box__footer .logo img{
        width: 180px;
    }
    
    .box__footer .terms{
        max-width: 350px;
        margin-top: 20px;
        font-weight: 500;
        color: #7a7a7a;
        font-size: 18px;
    }
    
    .box__footer h2{
        margin-bottom: 30px;
        color: #343434;
        font-weight: 700;
    }
    
    .box__footer a{
        margin-top: 10px;
        color: #7a7a7a;
        font-weight: 600;
    }
    
    .box__footer a:hover{
        opacity: 0.8;
    }
    
    .box__footer a .fab{
        font-size: 20px;
    }
    
    .box__copyright{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0px 40px;
    }
    
    .box__copyright p{
        margin-top: 20px;
        color: #7a7a7a;
    }
    
    .box__copyright hr{
        border: none;
        height: 1px;
        background-color: #7a7a7a;
    }